@charset "UTF-8";
html, body {
  width: 100%;
  font-size: 16px;
  line-height: 1.6;
  text-size-adjust: 100%;
  letter-spacing: 0.1em;
  font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

p, a {
  -webkit-font-smoothing: antialiased; }

a {
  color: #777;
  text-decoration: none;
  transition: .3s; }

a:hover {
  color: #e37b89;
  transition: .3s; }

.header {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  background: #777;
  color: #777;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: fixed;
  z-index: 2; }
  .header .title {
    font-size: 28px;
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
    font-weight: bold; }
  .header .title span {
    display: inline-block;
    color: transparent;
    animation: blur 10s ease-out infinite; }
  .header .title span:nth-child(1) {
    color: #3399FF;
    animation-delay: 0.1s; }
  .header .title span:nth-child(2) {
    color: #ddd;
    animation-delay: 0.2s; }
  .header .title span:nth-child(3) {
    color: #FF3333;
    animation-delay: 0.3s; }
  .header .title span:nth-child(4) {
    color: #3399FF;
    animation-delay: 0.4s; }
  .header .title span:nth-child(5) {
    color: #ddd;
    animation-delay: 0.5s; }
  .header .title span:nth-child(6) {
    color: #FF3333;
    animation-delay: 0.6s; }
  .header .title span:nth-child(7) {
    color: #3399FF;
    animation-delay: 0.7s; }
  .header .title span:nth-child(8) {
    color: #ddd;
    animation-delay: 0.8s; }

@keyframes blur {
  /*opacityとtext-shadow+animationでフェードインを表現する*/
  0% {
    text-shadow: 0 0 100px #fff;
    opacity: 0; }
  5% {
    text-shadow: 0 0 90px #fff; }
  15% {
    opacity: 1; }
  20% {
    text-shadow: 0 0 0px #fff; }
  80% {
    text-shadow: 0 0 0px #fff; }
  85% {
    opacity: 1; }
  95% {
    text-shadow: 0 0 90px #fff; }
  100% {
    text-shadow: 0 0 100px #fff;
    opacity: 0; } }
  @media screen and (max-width: 414px) {
    .header {
      height: 60px;
      width: 100vw;
      padding-right: 15px;
      padding-left: 15px; } }

@media screen and (max-width: 414px) {
  .nav-menu {
    display: none;
    position: absolute;
    top: 0;
    right: -100px;
    background: rgba(255, 255, 255, 0.85);
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    transition: .5s; }
    .nav-menu.active {
      transition: .5s;
      transform: translateX(-100%);
      z-index: 2; } }

.menu {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: "Amatic SC", cursive; }
  .menu-item {
    margin-right: initial; }
  .menu-link {
    -webkit-font-smoothing: initial;
    display: block;
    color: #fff;
    padding: 10px;
    text-align: center; }
  @media screen and (max-width: 414px) {
    .menu {
      display: block;
      font-size: 28px; }
      .menu-item {
        margin-right: initial; } }

.menu-humberger {
  display: none;
  transition: all .4s;
  box-sizing: border-box;
  position: relative;
  width: 40px;
  height: 32px;
  z-index: 3; }
  @media screen and (max-width: 414px) {
    .menu-humberger {
      display: inline-block; } }
  .menu-humberger .humberger-bar {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background: #fff;
    border-radius: 4px; }
    .menu-humberger .humberger-bar:nth-of-type(1) {
      top: 0; }
    .menu-humberger .humberger-bar:nth-of-type(2) {
      top: 14px; }
    .menu-humberger .humberger-bar:nth-of-type(3) {
      bottom: 0; }
  .menu-humberger.active .humberger-bar:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg); }
  .menu-humberger.active .humberger-bar:nth-of-type(2) {
    opacity: 0; }
  .menu-humberger.active .humberger-bar:nth-of-type(3) {
    transform: translateY(-15px) rotate(45deg); }

/*========================================
hero
========================================*/
main {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%; }
  @media screen and (max-width: 414px) {
    main {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%; } }

.top-animation {
  width: 100%;
  height: 500px;
  box-sizing: border-box;
  background: #e37b89;
  top: 80px;
  left: 0;
  border: 20px solid #444;
  margin-bottom: 30px; }
  .top-animation .top-color {
    width: 100%;
    height: 100%; }

/*========================================
container
//重要！！！

//各要素の親
========================================*/
.container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 120px; }
  @media screen and (max-width: 414px) {
    .container {
      width: 100%; } }
  .container-fluid {
    width: 100%; }
  .container-title {
    font-family: "Amatic SC", cursive;
    text-align: center;
    font-size: 38px;
    margin-bottom: 40px; }
    @media screen and (max-width: 414px) {
      .container-title {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 30px; } }
  @media screen and (max-width: 414px) {
    .container-body {
      padding-left: 15px;
      padding-right: 15px; } }
  .container-ornament .container-title span {
    display: inline-block;
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 1; }
  .container-ornament .container-title:before, .container-ornament .container-title:after {
    border-top: 1px dotted black;
    content: "";
    display: block;
    position: relative;
    z-index: 0; }
  .container-ornament .container-title:before {
    top: 28px; }
  .container-ornament .container-title:after {
    top: -28px; }

/*========================================
news
========================================*/
.news {
  width: 70%;
  height: 60px;
  overflow-y: scroll;
  margin: 0 auto;
  padding: 15px 20px; }

/*========================================
ユーティリティ

//ここでは、独立しているクラスをかく事
========================================*/
.bgColor-common {
  background: #f8f7fc;
  box-shadow: 0px 0px 8px 2px #ddd inset; }
